* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: "Bellota", system-ui;
}

:root{
    --coBackground: #FFF6E8;
    --corPrincipal: #ffd188
    --corFontClara: #FFFFFF;
    --alturaRodape: 60px;
    --fontLogo: "Julius Sans One", sans-serif;
    --contComplementar: "Bellota, system-ui";
}

body{
    background-color: var(--coBackground);
}

